<div class="container">
	<div ng-controller='adminController'>
		<div>
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#changeLogo">Change logo</button>
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			  CREATE NEW CLASS
			</button>
		<!-- {{getClasses}} -->
			<button class="btn btn-primary btn-lg" ng-Click="manageClasses()">Manage Open Classes</button>

			<button class="btn btn-primary btn-lg" ng-Click="seeManageUsers()">Manage Users</button>

			<button class="btn btn-primary btn-lg" ng-Click="showFlaggedPosts()">See Flagged Posts</button>

			<!-- <button class="btn btn-primary  btn-lg">Manage Closed</button> -->

			<button ng-click="showemailForm()" class="btn btn-primary  btn-lg">Send Registration Email</button>

			<button ng-click="showresetForm()" class="btn btn-primary  btn-lg">Reset Passwords for Users</button>

			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#excelUpload">Upload Users (excel file)</button>

			<div ng-include="'../includes/admin/showReset.htm'"></div>

			<div ng-include="'../includes/admin/showEmails.htm'"></div>

			<div ng-include="'../includes/admin/excelUpload.htm'"></div>
			
			<div ng-include="'../includes/admin/changeLogo.htm'"></div>

			<div ng-include="'../includes/admin/createClass.htm'"></div>

			<div ng-include="'../includes/admin/showClasses.htm'"></div>
			
			<div ng-include="'../includes/admin/flaggedPosts.htm'"></div>

			<div ng-include="'../includes/admin/manageUsers.htm'"></div>
		
	</div>
</div>

