
<div class="wrapper" >
  <!-- user_id: {{ user_id }} <br>
  user_name: {{ user_name }}<br> -->
  <section id="login" class="doublediagonal">
      <div class="container">
          <div class="">
              <h1>Login</h1>
              <div class="divider"></div>
              <p>For more info and support, contact us!</p>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-8 col-sm-8 sp-effect1">
                          <form role="form">

                              <div class="form-group">
                                <label for="">Email:</label>
                                  <input type="email" class="form-control" placeholder="" ng-model="loginInfo.email">
                              </div>
                              <div class="form-group">
                                <label for="">Password:</label>
                                  <input type="password" class="form-control" ng-model="loginInfo.password">
                              </div>
                                <input  class="btn btn-primary btn-lg" type="submit" value="Login"  ng-click="login(loginInfo)">
                          </form>
                          <a href="" data-toggle='modal' data-target='#forgotPassword'>Forgot password?</a>
                          <br>
                          <h4 style="color:red">{{ errorMsg }}</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>

<!-- forgot password modal -->
<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Forgot Password?</h4>
                    </div>
                    <!-- <div class="modal-body" ng-controller = 'MyCtrl'> -->
                     <div class="modal-body">
                        <h5>Enter the email associated with your account. We'll send you an email with a link to reset your password: </h5>
                        <input placeholder="email">
                        <button>Submit</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>