<div> 
	<h1>Reset password</h1>
	<form name="resetForm">
	    <div class="form-group" ng-class="{'has-error':registerForm.password.$invalid && !registerForm.password.$pristine}">
	        <label for="">Password:</label>

	        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="new_user.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>

	        <span ng-show='registerForm.password.$touched && registerForm.password.$error.required' style="color:red">Password cannot be empty!</span>
	        <p ng-show="registerForm.password.$error.minlength" class="error" style="color:red">
	            Password must be between 8 and 20 characters.</p>
	        <p ng-show="registerForm.password.$error.pattern" class="error" style="color:red">
	            Must contain:<br>
	            &bull;1 LOWER &amp; UPPERCASE letter <br>
	            &bull;1 NON-ALPHA character (a number or a symbol.)
	          </p>

	    </div>
	    <div class="form-group" ng-class="{'has-error': registerForm.confirmPassword.$invalid && !registerForm.confirmPassword.$pristine}">
	        <label for="">Confirm Password:</label>
	        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" ng-model="new_user.confirmPassword" valid-password-c="new_user.password" required>
	        <span ng-show='registerForm.confirmPassword.$touched && registerForm.confirmPassword.$error.required' style="color:red">Please confirm your password!</span>
	        <p ng-show="registerForm.confirmPassword.$error.noMatch" class="error" style="color:red">Please make sure your passwords match.</p>
	    </div>

	    <input class="btn btn-primary btn-lg" type="submit" value="Reset Password" ng-disabled="resetForm.$invalid" ng-click="register()">


	</form>
	
</div>