<!-- Change logo modal -->
			<div class="modal fade" id="changeLogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				        <h4 class="modal-title" id="myModalLabel">Change logo</h4>
				      </div>
			      <div class="modal-body">
			      	 <form novalidate>
		                <div>
		                    <button class="btn btn-primary btn-sm" ngf-select ng-model="picFile" accept="image/*"  >
		                        Select Picture
		                    </button>
		                    <br>
		                    <img height=80 ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile" class="btn btn-primary btn-sm" >Remove</button>
		                    <br>
		                    <button ng-click = "uploadFiles(picFile)" class="btn btn-primary btn-sm" >Submit</button>
		                </div>
		                <span class="progress" ng-show="progress >= 0">    
		                    <div style="width:{{progress}}%" ng-bind="progress + '%'">
		                    </div>
		                </span>
		                <span ng-show="result">Upload Successful</span>
		                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
		            </form>
			      </div>
			    </div>
			  </div>
			</div>