<!-- send registration email START -->
			<div ng-if="showEmails">
				<div class="container">
					<form>
						<h5>Send registration link to students: (separate emails by ,)</h5>
						<input type="text" ng-model='regEmail.email'>
						<button ng-click="sendRegistration()">Submit</button>
					</form>

						<h5 style="color: green">{{ status }}</h5>
						<h5 style="color: red">{{ error }}</h5>

						<h4>Current message sent out with emails</h4>
						<h5 ng-repeat="i in emailMessage">{{ i.message }}</h5>

						<h4>Change email message</h4>
					<form>
						<textarea ng-model="email.message"></textarea>
						<button ng-click="changeMessage(email)">Submit</button>
					</form>
				</div>
			</div> 
			<!-- send registration email END -->